body {
  /* background: color image reapeat position/size*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#box {
  width: 100%;
  max-width: 588px;
  /* margin e padding funcionam da mesma forma que o background, podendo botar todos em uma linha de codigo, mas de forma um pouco diferente.quando colocamos apenas duas propriedades, a primeira é aplicada em cima e em baixo e a segundo nas laterais
  se temos 3 propriedades, ele aplica a primeira em cima, a segunda nas laterais e a terceira em baixo
  agora se temos as 4 propriedades, funciona como um relogio, sendo a primeira aplicada em cima, a segunda na lateral direita, terceira em baixo e a quarta na lateral esquerda. essas regras tambem servem para o padding.*/
  margin: 58px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#name {
  font-family: "Inter", serif;
  font-weight: 500;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  font-family: "Inter", serif;
  font-weight: 500;
  color: white;
  display: flex;
  /* aling items= no meio da caixa na caixa
       justify-content= centralizar no centro*/
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
  /*border-radius=arredondamento na borda*/
  border-radius: 8px;
  backdrop-filter: blur(4px);
  /*text-decoration: none= tirar linha de baixo da frase*/
  text-decoration: none;
  transition: background 0.2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.02);
  border: 1.5px solid white;
}

#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
  color: white;
}

footer {
  color: white;
  font-family: "Inter", serif;
  font-weight: 400;
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

#fornari {
color: white;
}
